<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.digital.dance.framework.identity.dao.IdentityDao">
    <resultMap id="identityMap" type="identityEO">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="system_name" property="system" jdbcType="VARCHAR"/>
        <result column="sub_sys" property="subSys" jdbcType="VARCHAR"/>
        <result column="module_name" property="module" jdbcType="VARCHAR"/>
        <result column="table_full_name" property="table" jdbcType="VARCHAR"/>
        <result column="identity_value" property="identity" jdbcType="BIGINT"/>
    </resultMap>

  
	<select id="findNextIdentityValue" statementType="CALLABLE" resultType="Long" parameterType="identityEO">
		<if test="seqName != null" >
			<![CDATA[
			{CALL nextval(
			    #{seqName,jdbcType=VARCHAR,mode=IN}
			)}
			]]>
		</if>
	</select>
  
  <select id="resetIdentityValue" statementType="CALLABLE" resultType="Long" parameterType="identityEO">
		<if test="seqName != null" >
			<![CDATA[
			{CALL setval(
			    #{system,jdbcType=VARCHAR,mode=IN},
			    #{identity,jdbcType=BIGINT,mode=IN}
			)}
			]]>
		</if>
  </select>

</mapper>